@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{
    text-decoration: none;
}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}

a{
    color: #FFFFFF;
}

body{
    font-family: 'Roboto';}
.top-page{
    min-height: 730px;
    width: 100%;
    background: url(../img/pageForTop.jpg), #C4C4C4;
    color: #FFFFFF;
}
.gradientBG{
    min-height: 730px;
    width: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
header{
    padding-top: 45px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.logo a{
    color: #FFFFFF;
    display: flex;
    margin-left: 140px;
    align-items: center;
}
.logo img{
    margin-right: 9px;
}
.logoText{
font-family: 'Lato';
font-weight: 700;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav-bar ul> li{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}
.button-block{
    display: flex;
    justify-content:start;
}
.buttonLogIn{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.underHeaderBlock{
    text-align: center;
}
 h1{
    margin-top: 160px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
 }
 .text-on-top-page{
    margin-top: 40px;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
 }
 .button-try{
     display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ED4C5C;
    padding: 17px 30px;
    background: #FFFFFF;
    border-radius: 6px;
 }
 .main{
    color: #000000;

 }
 .content-block{
     display: grid;
     grid-template-columns: 5fr 2fr;
     margin-bottom: 80px;
 }
 .content-block-text{
     padding: 130px 120px 100px 150px;
 }
 h3{
     color: #101010;
    }
 h2{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
 }
 .content-block-text> p{
    line-height: 140%; 
    text-align: justify;
    margin-bottom: 15px;
    
 }
 .content-block-text> a{
    line-height: 140%;
    color: #ED4C5C;
 }
 .content-block-img{
     padding: 90px 190px 90px 0;
 }
 .content-block-img> img{
    width: 445px;
    height: 311px; 
    border-radius: 15px;
 }
 .opportunities-block{
    padding-top: 50px;
    margin-bottom: 200px;
 }
 .opportunities-block> h2{
    text-align: center;
 }
.opportunities{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 120px;
    width: 100%;
}
.opportunities-mini-block{
    justify-self:center;
}
.opportunities-img{
    border-radius: 8px;
}
.opportunities-text{
    position:absolute;
    margin-left:30px;
    top: 1550px;
    text-align: center;
    padding: 18px 30px;
    width: 290px;
    height: 190px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #101010;
}
.opportunities-text> h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 13px;
}
.opportunities-text> p{
    font-size: 12px;
    line-height: 150%;
    margin-bottom: 10px;
}
.opportunities-text> a{
    font-size: 12px;
    line-height: 150%;
    color: #ED4C5C;
}
.technology> h2{
    text-align: center;
}
.technology-types{
    padding: 0px 150px 30px 150px;
    display: flex;
    justify-content:space-between;
}
.type-of-technology{
    text-align: center;
    width: 240px;
    height: 215px;
    padding: 0px 20px;
}

.bigNumber{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 100px;
    line-height: 120px;
    color: rgba(16, 16, 16, 0.08);
}
.block-with-technology{
    margin-top: -60px;
    padding-top: 10px;
}
.block-with-technology img{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
.block-with-technology> h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 8px;
}
.block-with-technology> p{
    font-size: 12px;
    line-height: 14px;
}
.content-pink{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin-bottom: 80px;
    background-color: #ED4C5C;
    color: #FFFFFF;
}

.icon-google{
    margin-right: 25px;
}
.text-in-pink-block{
    line-height: 140%; 
    text-align: justify;
    margin-bottom: 40px;
}
.content-pink-text{
    padding: 130px 120px 100px 150px;
}
.feedbackBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 110px 150px;
    margin-bottom: 140px; 
}
.feedbackText{
    padding-right: 150px;
}
.feedbackText h2{
    padding-top: 10px;
    margin-bottom:50px ;
}
.feedbackText p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;


}
.feedbackInput{
    margin-bottom: 20px;
    width: 480px;
    height: 40px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: 20px 30px;
}
.buttonForm{
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    height: 50px;
    width: 150px;
}
footer{
    font-family: 'Lato';
    color: #101010;
    padding-left: 150px;
    margin-bottom: 50px;
    background: #FAFAFA;
}
.addressBigTextFooter{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.addressTextFooter{
    margin-bottom: 45px;
    font-size: 12px;
    line-height: 150%;
}
.copyrightText{
    font-size: 12px;
    line-height: 14px;
}